<?xml version="1.0" encoding="UTF-8"?>


<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

  <localRepository>F:\programs\apache-maven-3.9.0\repo</localRepository>


  <pluginGroups>

  </pluginGroups>


  <proxies>

  </proxies>


  <servers>

	<!-- 公司仓库鉴权 -->
    <server>
        <id>nexus-releases</id>
        <username>greload-deply</username>
        <password>abcd1234!</password>
    </server>    
    <server>
        <id>nexus-snapshots</id>
        <username>greload-deply</username>
        <password>abcd1234!</password>
    </server>
  </servers>


  <mirrors>

	
	<!-- 公司仓库镜像 -->
    <mirror>
        <id>greload-nexus</id>
        <mirrorOf>nexus</mirrorOf>
        <url>http://47.101.138.195:8081/repository/greload/</url>
    </mirror>
	<!-- 阿里镜像 -->
	<mirror>
		<id>alimaven</id>
		<mirrorOf>central</mirrorOf>
		<name>aliyun maven</name>
		<url>http://maven.aliyun.com/nexus/content/repositories/central/</url>
	</mirror>
	<mirror>
		<id>alimaven</id>
		<name>aliyun maven</name>
		<url>http://maven.aliyun.com/nexus/content/groups/public/</url>
		<mirrorOf>central</mirrorOf>
	</mirror>
	<mirror>
		<id>central</id>
		<name>Maven Repository Switchboard</name>
		<url>http://repo1.maven.org/maven2/</url>
		<mirrorOf>central</mirrorOf>
	</mirror>
	<mirror>
		<id>repo2</id>
		<mirrorOf>central</mirrorOf>
		<name>Human Readable Name for this Mirror.</name>
		<url>http://repo2.maven.org/maven2/</url>
	</mirror>
	<mirror>
		<id>ibiblio</id>
		<mirrorOf>central</mirrorOf>
		<name>Human Readable Name for this Mirror.</name>
		<url>http://mirrors.ibiblio.org/pub/mirrors/maven2/</url>
	</mirror>
	<mirror>
		<id>jboss-public-repository-group</id>
		<mirrorOf>central</mirrorOf>
		<name>JBoss Public Repository Group</name>
		<url>http://repository.jboss.org/nexus/content/groups/public</url>
	</mirror>
	<mirror>
		<id>google-maven-central</id>
		<name>Google Maven Central</name>
		<url>https://maven-central.storage.googleapis.com
		</url>
		<mirrorOf>central</mirrorOf>
	</mirror>
	<!-- 中央仓库在中国的镜像 -->
	<mirror>
		<id>maven.net.cn</id>
		<name>oneof the central mirrors in china</name>
		<url>http://maven.net.cn/content/groups/public/</url>
		<mirrorOf>central</mirrorOf>
	</mirror>


  </mirrors>


  <profiles>
	 <!-- java版本 --> 
	<profile>
		  <id>jdk-1.8</id>
		  <activation>
			<activeByDefault>true</activeByDefault>
			<jdk>1.8</jdk>
		  </activation>
	 
		  <properties>
			<maven.compiler.source>1.8</maven.compiler.source>
			<maven.compiler.target>1.8</maven.compiler.target>
			<maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>
		  </properties>
	</profile>
	 <!--公司仓库配置 -->
	<!--<profile>
        <id>nexus</id>
        <repositories>
            <repository>
                <id>nexus-releases</id>
                <url>http://47.101.138.195:8081/repository/greload/</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <enabled>true</enabled>
                </snapshots>
            </repository>
        </repositories>
        <pluginRepositories>
            <pluginRepository>
                <id>nexus-snapshots</id>
                <url>http://47.101.138.195:8081/repository/greload/</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <enabled>true</enabled>
                </snapshots>
            </pluginRepository>
        </pluginRepositories>
    </profile>
	-->

  </profiles>

   <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>
